#disp {
	margin: auto;
	max-width: 1500px;
	min-width: 500px;
}

.title {
	text-align: center;
	vertical-align: middle;
	line-height: 4em;
	color: white;
	font-weight: bold;
    border-radius: 20px;
    border: 5px solid white;
}
.t1 {
	background-color: rgb(50,150,220);
}
.t2 {
	background-color: rgb(0,180,80);
}

#tweets, #tags {
	height: 24em;
	overflow: hidden;
	border-style: dashed;
	border-width: 1px;
	border-color: rgb(216,216,216);
	padding: 10px 10px 10px 10px;
}

#tweets_list, #tags_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	height: 5em;
}

.item {
	height: 4em;
	display: table;
}

img {
	float: left;
	margin-right: 10px;
	height: 4em;
	width: 4em;
	border-radius: 4em;
	-webkit-border-radius: 4em;
	-moz-border-radius: 4em;
}

p {
	vertical-align: middle;
	display: table-cell;
	margin: 0;
	padding: 0;
	line-height: 1em;
}
.p1 {
	color: rgb(50,150,220);
	font-style: italic;
}
.p2 {
	color: rgb(0,180,80);
}